.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.slider-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.outfits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.outfits-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.outfits-section .outfits-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 20px;
}

.outfits-section .button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.button-group .btn-best-seller,
.button-group .btn-all-products {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}


.featured-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.featured-section h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .outfits-section .outfits-grid,
  .featured-section {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
